* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}




#typing {
  color: #38bdf8;
  font-weight: bold;
}



  /* header */
  section.header {
    position: relative;
    z-index: 22;
    background-color: #0000007a;
    color:white;
    padding :40px;
}
 
.both-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin: auto;
}
.menu ul {
    display: flex;
    gap: 62px;
    font-size: 20px;
    list-style: none;
}
.menu ul :hover{
    color:rgba(0, 0, 0, 0.326);
    transition: all 0.8s ease;
}


.name h1 {
    font-size: 28px;}
    .menu ul li a{
    color:white;
}
/* main */
.porfolio {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
      margin: 50px;
    padding: 30px;
}
.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 46%;
    margin: 60px 0px;
    padding: 30px;
}

.left h6 {
    color: #c7c7c7;
    margin-bottom: 10px;
    font-size: 14px;
}

.left h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.left span {
    color: #8b5cf6;
}

.left p {
    color: #bdbdbd;
    margin-bottom: 25px;
    line-height: 1.5;
}

.left button {
    padding: 10px 22px;
    background: #8b5cf6;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.image img {
    width: 152%;
    border-radius: 50%;
}
.icon svg {
    height: 59px;
    fill: white;
}



